html, body {
	font-size: 14px;
	height: 100%;
}

a{
	text-decoration: none;
	color: white;
}

.card {
	width: 100%;
	margin: auto;
	
    text-align: center;
    font-family: arial;
}

.title {
    color: grey;
    font-size: 18px;
}        

#keywordTbl {
	position: absolute;		/* 문서기준 절대 위치 */
	top: 180px;
	left: 50%;
	margin-left: -350px;
	
	width: 750px;
}

#keywordTbl table {
    /* 배경, 크기 */
    width: 700px;
    word-break: break-all;	/* 글자가 너비 이상 넘어가면 줄바꿈 설정 */
    table-layout: auto; 	/* 가로너비 자동*/
    
    /* 테두리 */
    padding: 20px;
    margin: auto;
    border: 0px;
    
    /* 글자 */
    font-size: 13px;
    text-align: left;   
}

#latest10Tbl {
	position: absolute;		/* 문서기준 절대 위치 */
	top: 180px;
	left: 50%;
	margin-left: 380px;
	
	width: 120px;
}

.sec{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: lightskyblue;
	border: 0px solid gray;
	height: 100%;
}

.art{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
	flex-grow: 1;
	margin-top: 30px;
	width: 100%;
}

.picture1{
	align-self:center;
    width: 240px;
	height: 427px;
	margin:15px;
	border: 1px solid black;  
}

.box{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	max-width: 350px;
	width: 100%;
}

.box2{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	flex-grow: 1;
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 10px 0;
	margin: 0 0 10px;
}

.it{
	background-repeat: no-repeat;
	height: 51px;
	width: 175px;
	white-space: nowrap;
	margin: 22px auto 12px;
	text-align: center;
}

.fom{
	display: flex;
	flex-direction: column;	
	align-items: stretch;
	align-content: stretch;
	justify-content: flex-start;
	margin: 8px 40px 8px 40px;
	flex: 0 0 auto;
}

.face{
	background-color: steelblue;
	border: 1px solid steelblue;
	border-radius: 4px;
	color: white;
	position: relative;
	box-sizing: border-box;
	font-weight: 600;
	padding: 5px 9px;
	text-align: center;
	width: auto;
	margin-bottom: 15px;
}

.google{
	background-color: firebrick;
	border: 1px solid firebrick;
	border-radius: 4px;
	color: white;
	position: relative;
	box-sizing: border-box;
	font-weight: 600;
	padding: 5px 9px;
	text-align: center;
	width: auto;
	margin-bottom: 15px;
}

.naver{
	background-color: forestgreen;
	border: 1px solid forestgreen;
	border-radius: 4px;
	color: white;
	position: relative;
	box-sizing: border-box;
	font-weight: 600;
	padding: 5px 9px;
	text-align: center;
	width: auto;
	margin-bottom: 15px;
}

.img{
	background-repeat: no-repeat;
	background-position: -282px -319px;
	height: 16px;
	width: 16px;
	margin-right: 8px;
}

#div1{
	position:static;
	line-height: 176.5px;
   	display: block;
	height:176.5px;
	width:50%;
	float:left;
	text-align:center;
	background:red;
	font-size: 20px;
}
#div2{
	position:static;
	height:176.5px;
	width:50%;
	float:right;
	text-align:center;
	line-height: 176.5px;
   	display: block;
	background:orange;
	font-size: 20px;
}
#div3{
	position:static;
	height:176.5px;
	width:50%;
	float:left;
	text-align:center;
	line-height: 176.5px;
   	display: block;
	background:yellow;
	font-size: 20px;
}
#div4{
	position:static;
	height:176.5px;
	width:50%;
	float:right;
	text-align:center;
	line-height: 176.5px;
   	display: block;
	background:green;
	font-size: 20px;
}
#div5{
	position:static;
	height:176.5px;
	width:50%;
	float:left;
	text-align:center;
	line-height: 176.5px;
   	display: block;
	background:blue;
	font-size: 20px;
}
#div6{
	position:static;
	height:176.5px;
	width:50%;
	float:right;
	text-align:center;
	line-height: 176.5px;
   	display: block;
	background:purple;
	font-size: 20px;
}





