body {
	font-size: 14px;
}

.card {
	width: 100%;
	margin: auto;
	
    text-align: center;
    font-family: arial;
}

.title {
    color: grey;
    font-size: 18px;
}        

#keywordTbl {
	position: absolute;		/* 문서기준 절대 위치 */
	top: 180px;
	left: 50%;
	margin-left: -350px;
	
	width: 750px;
}

#keywordTbl table {
    /* 배경, 크기 */
    width: 700px;
    word-break: break-all;	/* 글자가 너비 이상 넘어가면 줄바꿈 설정 */
    table-layout: auto; 	/* 가로너비 자동*/
    
    /* 테두리 */
    padding: 20px;
    margin: auto;
    border: 0px;
    
    /* 글자 */
    font-size: 13px;
    text-align: left;   
}

#latest10Tbl {
	position: absolute;		/* 문서기준 절대 위치 */
	top: 180px;
	left: 50%;
	margin-left: 380px;
	
	width: 120px;
}





